@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif !important;
}
.breadcrumb {
	font-size: 12px !important;
}
.card-title {
	font-size: 16px;
	font-weight: 900;
}
.patient-name {
	font-size: 18px;
	font-weight: 700;
	marigin-bottom: 5px;
}
.patient-details {
	font-size: 14px;
}
.patient-id {
	font-size: 14px;
	// color: #aaa;
}
.beta {
	background-color: cornsilk;
	color: black;
	font-size: 13px !important;
	height: fit-content;
	padding: 0 10px;
	border-radius: 8px;
	margin-left: 10px;
	vertical-align: middle;
	letter-spacing: 0.00938em;
	font-weight: 400;
}
.patient-ids-group {
	font-size: 13px;
}
.MuiToggleButton-root {
	padding: 15px !important;
}
.prescribelink,
.prescribelink:hover,
.prescribelink:active,
.prescribelink:visited,
.prescribelink:focus {
	text-decoration: none !important;
	cursor: pointer;
	color: "#1976d2";
}
.css-1ps4owl-MuiTypography-root-MuiLink-root {
	text-decoration: none !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
	max-width: 80% !important;
}

.probable-box {
	padding: 16px;
	padding-left: 0px;
	color: red;
}

.refer-dialog {
	height: 550px;
	align-items: center;
	justify-content: center;
}

.referral-success-heading {
	font-weight: bold;
	font-size: 24px;
}

.title-screen-site {
	font-size: 1.25rem !important;
    line-height: 1.6 ;
    letter-spacing: 0.0075em;
	font-weight: 700 !important;
	margin-bottom: 16px !important;
}
.question-display-name-site {
	margin-bottom: 8px !important;
}
.site-toggles-group {
	margin-bottom: 16px !important;
}

.border-box {
	border: thin;
	border-color: red;
}